<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elite_Dangerous_to_Social_Media_C_Forms_Version.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Elite_Dangerous_to_Social_Media_C_Forms_Version.Properties.Settings>
            <setting name="consumerKey" serializeAs="String">
                <value>Add your key here</value>
            </setting>
            <setting name="consumerSecret" serializeAs="String">
                <value>Add you secret here</value>
            </setting>
            <setting name="accessToken" serializeAs="String">
                <value>Add your token here</value>
            </setting>
            <setting name="accessTokenSecret" serializeAs="String">
                <value>Add your token Secret here</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>Use the button below to brows to the path of the log</value>
            </setting>
        </Elite_Dangerous_to_Social_Media_C_Forms_Version.Properties.Settings>
    </userSettings>
</configuration>